In [2]:
# First Pandas course file
import pandas as pd
import numpy as np

# Just to get same random values
np.random.seed(42)


# With below line you can see pandas version
version = (pd.__version__)
my_data = [10, 20, 30]
my_index = [1, 2, 3]

# Supplying data and index to Pandas Series
my_serie = pd.Series(data=my_data, index=my_index)

sample_dict = {"a": 10, "b": 20}

# Pandas Series takes keys as index and values as data automatically

my_serie = pd.Series(data=sample_dict)
print(my_serie)

# .keys() gives indexes of the Pandas Serie
print(my_serie.keys())

df = pd.read_csv(r"tips.csv")

df = pd.DataFrame(df)
# df.columns and df.index for column and index
# df.info() gives necessary info on dataframe
print(df.info())
# df.describe() gives statistical info
print(df.describe())

a    10
b    20
dtype: int64
Index(['a', 'b'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [4]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [9]:
my_cols = ["total_bill","tip"]
df[my_cols]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [14]:
df["tip_percentage"] = 100*df["tip"] / df["total_bill"]

0       5.944673
1      16.054159
2      16.658734
3      13.978041
4      14.680765
         ...
239    20.392697
240     7.358352
241     8.822232
242     9.820426
243    15.974441
Length: 244, dtype: float64